{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-extra-parens": 1,
    "accessor-pairs": 1,
    "curly": 2,
    "default-case": 1,
    "dot-notation": 2,
    "eqeqeq": 2,
    "no-alert": 2,
    "no-caller": 1,
    "no-else-return": 2,
    "no-empty-function": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-floating-decimal": 2,
    "no-implied-eval": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-magic-numbers": ["warn", { "ignore": [0, 1000], "ignoreArrayIndexes": true }],
    "no-multi-spaces": 2,
    "no-multi-str": 1,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "vars-on-top": 0,
    "strict": ["warn", "global"],
    "array-bracket-spacing": ["error", "always"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", {"properties": "always"}],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "eol-last": 2,
    "indent": ["error", 4, {"SwitchCase": 1}],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "max-len": ["error", 120, 4, {"ignoreUrls": true}],
    "max-params": ["error", 4],
    "new-cap": 2,
    "new-parens": 2,
    "newline-after-var": ["error", "always"],
    "newline-before-return": "error",
    "newline-per-chained-call": ["error", {"ignoreChainWithDepth": 3}],
    "no-bitwise": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": ["error", {"max": 1}],
    "no-nested-ternary": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-whitespace-before-property": 2,
    "object-curly-spacing": ["error", "always"],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-linebreak": ["error", "before"],
    "padded-blocks": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "space-unary-ops": 2,
    "spaced-comment": ["error", "always"],
    "arrow-body-style": ["error", "always"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": ["error"],
    "no-class-assign": ["error"],
    "no-confusing-arrow": ["error"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-duplicate-imports": ["error"],
    "no-new-symbol": ["error"],
    "no-this-before-super": ["error"],
    "no-useless-computed-key": ["error"],
    "no-useless-constructor": ["error"],
    "no-var": ["error"],
    "object-shorthand": ["error"],
    "prefer-arrow-callback": ["error"],
    "prefer-const": ["warn"],
    "prefer-rest-params": ["warn"],
    "prefer-spread": ["warn"],
    "prefer-template": ["warn"],
    "require-yield": ["error"],
    "template-curly-spacing": ["error", "never"],
    "callback-return": ["error", ["callback", "cb", "next"]],
    "global-require": ["error"],
    "handle-callback-err": ["error", "^.*(e|E)rr"],
    "no-new-require": ["error"],
    "no-path-concat": ["error"],
    "no-process-env": ["error"],
    "no-process-exit": ["error"],
    "no-sync": ["warn"],
    "no-catch-shadow": ["error"],
    "no-delete-var": ["error"],
    "no-undef": ["error"],
    "no-undef-init": ["error"],
    "no-undefined": ["error"],
    "no-unused-vars": ["error"],
    "no-use-before-define": ["error"]
  },
  "globals": {
    "atom": true
  },
  "env": {
    "node": true,
    "es6": true
  }
}
