'context-menu':
    'atom-text-editor': [
        { 'type': 'separator' }
        { 'label': 'FTP/SFTP', 'submenu': [
            { 'label': 'Upload current file', 'command': 'sftp-deployment:uploadCurrentFile' }
            { 'label': 'Download current file', 'command': 'sftp-deployment:downloadCurrentFile' }
        ]}
        { 'type': 'separator' }
    ]
    'atom-pane .tab': [
        { 'type': 'separator' }
        { 'label': 'FTP/SFTP', 'submenu': [
            { 'label': 'Upload open files', 'command': 'sftp-deployment:uploadOpenFiles' }
        ]}
        { 'type': 'separator' }
    ]
    'atom-pane .tab.active': [
        { 'type': 'separator' }
        { 'label': 'FTP/SFTP', 'submenu': [
            { 'label': 'Upload current file', 'command': 'sftp-deployment:uploadCurrentFile' }
            { 'label': 'Download current file', 'command': 'sftp-deployment:downloadCurrentFile' }
        ]}
        { 'type': 'separator' }
    ]
    '.tree-view': [
        { 'type': 'separator' }
        { 'label': 'FTP/SFTP', 'submenu': [
            { 'label': 'Upload selection', 'command': 'sftp-deployment:uploadSelection' }
            { 'label': 'Download selection', 'command': 'sftp-deployment:downloadSelection' }
        ]}
        { 'type': 'separator' }
    ]

'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'FTP/SFTP'
            'submenu': [
                { 'label': 'Map to remote...', 'command': 'sftp-deployment:mapToRemote' }
                { 'type': 'separator' }
                { 'label': 'Upload current file', 'command': 'sftp-deployment:uploadCurrentFile' }
                { 'label': 'Upload open files', 'command': 'sftp-deployment:uploadOpenFiles' }
                { 'type': 'separator' }
                { 'label': 'Download current file', 'command': 'sftp-deployment:downloadCurrentFile' }
            ]
        ]
    }
]
